/easyFactory/bin
/easyFactory/obj
/Builder/bin
/Builder/obj
/Calculate001/bin
/decorator01/obj
/Facade/bin
/Facade/obj
/FactoryMode/bin
/FactoryMode/obj
/Observer/bin
/Observer/obj
/Prototype/bin
/Prototype/obj
/ProxyModel/bin
/ProxyModel/obj
