/Calculate001/bin
/easyFactory/bin
/Observer/bin
/Builder/bin
/Facade/bin
/Prototype/bin
/FactoryMode/bin
/ProxyModel/bin
/decorator01/bin
/Calculate001/obj
/easyFactory/obj
/Observer/obj
/Builder/obj
/Facade/obj
/Prototype/obj
/FactoryMode/obj
/ProxyModel/obj
/decorator01/obj
/Builder/.vscode
/Prototype/.vscode
/ProxyModel/.vscode
/Calculate001/.vscode
